body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#video-container {
  width: 100%;
}

.recording {
  border: solid 3px red;
}

video {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

body {
  text-align: center;
  padding-top: 20px;
}

#recordBtn, #pauseBtn {
  height: 45px;
  width: 90px;
}

#recordBtn {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

#pauseBtn {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}